# Odoo
*.pyc
__pycache__/
*.pyo
*.pid
*.log
*.db
*.sqlite
.odoo
*.orig
*.rej
.DS_Store
.idea/
.vscode/
*.swp
*.swo
*~
*.egg-info/
dist/
build/
develop-eggs/
downloads/
eggs/
parts/
bin/
var/
assets/
*.egg/
.local/
*.html